/* header */
/* 
.header .container ul li:nth-of-type(2){
    color:var(--sec);
    border-bottom:2px solid #ee434c;
}*/
/* end header */
/* sebrate */
.separate{
    padding: 0;
    margin: 0;
    height:250px ;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
     url(https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
/*separate */

/* start nav bar */
nav {
    height: 20px;
    padding:80px 0 ;
 /*   background-color: var(--tha);*/
}
nav .container{
}
/* div input */
nav .container .search {
    width: 25%;
}
/* icon */ 
nav .container .search .icon{
    position: absolute;
    left: 320px;
    top:435px ;
    color:rgb(204, 204, 204); 
    font-size:20px ;
}

nav .container .search i{
}
/* input*/
nav .container .search input{
    border-radius: 8px;
    padding: 25px 20px 16px 20px;
    height:50px ;
    width: 100%;
    color:rgb(204, 204, 204); 
    border:2px solid rgba(204, 204, 204, 0.329);
}
nav .container .search input::placeholder{
    color:rgba(204, 204, 204, 0.685);
    padding-top: 1px;
}
nav .container .search input:hover{
    border:2px solid rgb(204, 204, 204);
}
nav .container div.search input:focus{
    border:2px solid rgb(204, 204, 204);
}
/**/
/* fisrt */

/*  ul*/
nav .container .first{
    margin: 18px 15% 0px 10%;
    width: 40%;
}
/* li */
nav .container .first li {
    padding-right: 20px ;
}
nav .container .first li:nth-of-type(2) {
    padding-right: 20px ;
    color: var(--sea);

}
/* icons */
nav .container .first li i{}
/* ul second */

/* second */

nav .container .second{
width: 10%;
margin: 16px 0 0 0;
}
/* li */
nav .container .second li {
    padding-right: 20px ;
    color: var(--sea);

}
nav .container .second li:first-of-type {
    color: var(--main);

}
/* icon */

nav .container .second li:hover{
    color: var(--sec);
}
nav .container .second li:active{
    color: var(--main);
}

/* concate */
.left .aside {
    
}

.left  .aside{
    width: 25%;
    margin-right: 10%;
}
.left  .container.aside ul{}
.left  .container.aside ul li{
    margin-right: 50px;
    float: right;
    margin-left: 177px;
    color: var(--sec);
}
.left  .aside ul li p:first-child{
    color: var(--sec);
 
}
.left   .aside ul li p:last-child{
    float: right;
    margin-left: 177px;
    color: var(--sea);
}
/*   products */ 
.products {
    width: 65%;
}
 .products .card{
    margin-bottom: 70px;
    height: 230px;
 }
 .products .card img{
    height:230px ;
    width: 28%;
}
 .products .card .cont{
    width: 60%;
    margin-left: 5%;
}
 .products .card h2{
    width: 100%;
    margin: 0px 0 10px;
    color: var(--sec);
}
.products .card h3{
    color: var(--sea);
    width: 100%;
    margin-top: 0;
    font-size: 14px;
}
.products .card .price{
    width: 100%;

}
.products .card .price p{
    width: 27%;
    margin: 9px 0;
    color: var(--sec);

}
.products .card .price span{
    width: 41%;
    margin-top: 5px;
    color: gold;
}
.products .card .price span .empty{
    color: var(--sea);
    opacity: 0.3;
}
.products .card .price p:nth-of-type(2){
    width: 27%;
    color: var(--sec);
}
.products .card p:nth-of-type(3){
    width: 100%;
    margin: 9px 0;

}
.products .card .rate{
    margin: 0;
    width: 100%;
}
 .products .card .rate button:first-of-type{
    width: 50%;
    margin-right: 10%;
    padding: 14px 0 5px 0;
    color:var(--sec); 
    border:2px solid rgba(204, 204, 204, 0.329);
    background-color: white;
    border-radius:8px ;

}
 .products .card .rate button:last-of-type{
    width: 10%;
    padding: 10px 0 5px 0;
    color:var(--sea); 
    border:2px solid rgba(204, 204, 204, 0.329);
    background-color: white;
    border-radius:8px ;
}
.products .card .rate button:last-of-type:hover,.products .card .rate button:first-of-type:hover{
    border:2px solid rgb(204, 204, 204);
    color:var(--sec); 

  
}
