.separate{
    padding: 0;
    margin: 0;
    height:250px ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
     url(https://images.pexels.com/photos/4271613/pexels-photo-4271613.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
